In [15]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn import metrics
from sklearn.metrics import classification_report

In [6]:
titanic = pd.read_csv("https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv")

In [8]:
titanic.columns = ['PassengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','E mbarked']

In [40]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,clean_cabin
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.0
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,1.0
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,0.0
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,1.0
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,1.0
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1.0
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,1.0
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.0

In [50]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
E mbarked      889 non-null object
clean_cabin    891 non-null int64
dtypes: float64(2), int64(6), object(5)
memory usage: 90.6+ KB

In [89]:
titanic['clean_cabin']= titanic['Cabin'].apply(lambda i:0 if i== float else 1)
titanic['clean_age']= titanic['Age'].fillna(titanic['Age'].mean())

titanic['clean_fare'] = titanic['Fare'].astype(int)
X = titanic.drop(['PassengerId','Survived','Name','Ticket','Cabin','E mbarked','Sex','Age','Fare'],axis=1)
y = titanic['Survived']
X.info()
X.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
Pclass         891 non-null int64
SibSp          891 non-null int64
Parch          891 non-null int64
clean_cabin    891 non-null int64
clean_age      891 non-null float64
clean_fare     891 non-null int32
dtypes: float64(1), int32(1), int64(4)
memory usage: 38.4 KB

   Pclass  SibSp  Parch  clean_cabin  clean_age  clean_fare
0       3      1      0            1       22.0           7
1       1      1      0            1       38.0          71
2       3      0      0            1       26.0           7
3       1      1      0            1       35.0          53
4       3      0      0            1       35.0           8

In [90]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.30, random_state= 355)

In [91]:
clf = DecisionTreeClassifier()
clf.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [92]:
feature_name=list(X.columns)
class_name = list(y_train.unique())
class_name

[1, 0]

In [93]:
clf.score(x_train,y_train)

0.9245585874799358

In [94]:
py_pred = clf.predict(x_test)

In [95]:
clf.score(x_test,y_test)

0.6417910447761194

In [101]:
sklearn.metrics.f1_score(y_test,py_pred)

0.5051546391752577

In [97]:
clf_entropy = DecisionTreeClassifier(criterion = 'entropy')
clf_entropy.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [99]:
clf_entropy.score(x_train,y_train)

0.9245585874799358

In [103]:
py_pred_entropy = clf_entropy.predict(x_test)

In [104]:
clf_entropy.score(x_test,y_test)

0.6716417910447762

In [105]:
sklearn.metrics.f1_score(y_test,py_pred_entropy)

0.5686274509803921

#  As Entropy score (F1 and CLF) is higher than gini, I select entropy for decision tree.